@import '../../style/mixins.scss';
@import '../../style/variables.scss';

@keyframes showCards {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.addNew {
  color: $white; font-size: 20px; font-family: $m-sb; line-height: 26px;
  margin: 0 auto 30px; display: block; padding: 10px 16px;
  background: #f96868; border: solid 2px #f96868; border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: #f96868;
    background: $white;
  }
}

.card {
  margin: 0 auto 22px; max-width: 880px; width: 100%; position: relative;
  border: solid 1px #e2e2e2; background: #fff;
  overflow: hidden;
  animation: showCards 0.5s ease-out 1;

  @include respond-to(lg) {
    max-width: 780px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .label {
    color: #fff; font-size: 10px; font-family: $m-sb; line-height: 20px; text-transform: uppercase; text-align: center;
    display: block; width: 400px; height: 20px; position: absolute; left: 60px; top: 60px; transform: translate(-50%, -50%) rotate(-45deg);
    background: #f96868;

    @include respond-to(lg) {
      left: 50px; top: 50px;
    }
    @include respond-to(xs) {
      font-size: 14px; line-height: 26px;
      left: 0; top: 0; width: 100%; transform: none; height: 26px;
    }
  }

  &.big_summ,
  &.long_term,
  &.quick_solution,
  &.recommend {
    @include respond-to(xs) {
      padding-top: 26px;
    }

    figure {
      @include respond-to(md) {
        padding-left: 60px; width: 230px;
      }
      @include respond-to(sm) {
        width: 300px;
      }
      @include respond-to(xs) {
        padding-left: 0; width: 100%;
      }
    }
  }

  & > section {
    display: flex; align-items: center; justify-content: space-between; padding: 23px 31px 30px 23px;

    @include respond-to(lg) {
      padding: 20px 15px;
    }
    @include respond-to(md) {
      flex-wrap: wrap;
    }

    figure {
      text-align: center;
      width: 230px; flex-shrink: 0; padding-right: 15px;

      @include respond-to(lg) {
        width: 170px; padding-right: 10px;
      }
      @include respond-to(md) {
        order: 0;
      }
      @include respond-to(sm) {
        width: 240px;
      }
      @include respond-to(xs) {
        width: 100%; padding-right: 0;
      }

      img {
        max-width: 80%; max-height: 150px;

        @include respond-to(lg) {
          max-width: 90%;
        }
      }
    }

    .info {
      padding-top: 5px; width: 100%;

      @include respond-to(md) {
        order: 2; padding-top: 15px; padding-left: 15px;
      }
      @include respond-to(sm) {
        padding-left: 10px;
      }
      @include respond-to(xs) {
        order: 1; padding-left: 0;
      }

      h3 {
        color: #161616; font-size: 14px; font-family: $m-sb; line-height: 18px;
        margin-bottom: 10px; padding-bottom: 11px; position: relative;

        &:after {
          content: '';
          display: block; width: 100px; height: 1px; position: absolute; left: 0; bottom: 0;
          background: #e2e2e2;
        }

        i {
          color: #f96868; font-size: 18px;
          margin-right: 5px;
        }
      }

      .rating {
        display: flex; align-items: center; margin-bottom: 21px;

        [class*="stars"] {
          margin-right: 5px;
        }

        p {
          color: #484848; font-size: 12px; font-family: $os-r; line-height: 16px;

          a {
            color: inherit; text-decoration: underline;
          }
        }
      }

      ul.pros {
        display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 15px;

        @include respond-to(xs) {
          flex-direction: column;
        }

        &:last-child {
          margin-bottom: 0;
        }

        li {
          color: #484848; font-size: 12px; font-family: $os-r; line-height: 20px;
          margin-bottom: 5px; padding-left: 35px; position: relative;

          @include respond-to(xs) {
            margin-right: 0; margin-bottom: 10px;
          }

          &:last-child {
            margin-right: 0; margin-bottom: 0;
          }

          &:hover {
            .tooltip {
              display: block;
            }
          }

          i {
            color: #f96868; font-size: 20px;
            position: absolute; left: 15px; top: 11px; transform: translate(-50%, -50%);
          }

          strong {
            font-size: 14px; font-family: $os-b;
          }

          em {
            color: #f96868; font-size: 11px; font-family: $os-r; line-height: 14px;
            display: block; margin-left: -28px; padding-top: 4px;
          }

          .tooltip {
            color: $white; font-size: 12px; font-family: $m-r; white-space: nowrap;
            position: absolute; left: 0; top: -5px; transform: translateY(-100%); padding: 0 4px; display: none;
            background: #f96868; border-radius: 4px;

            &:after {
              content: '';
              position: absolute; left: 9px; top: 100%;
              border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #f96868; z-index: 3;
            }
          }
        }
      }

      ul.options {

        li {
          color: #484848; font-size: 14px; font-family: $os-r; line-height: 18px;
          padding-left: 20px; position: relative;

          @include respond-to(lg) {
            font-size: 13px;
          }
          @include respond-to(xs) {
            padding-left: 15px;
          }

          &:last-child {
            margin-bottom: -5px;
          }

          &:before {
            content: '';
            display: block; width: 6px; height: 6px; position: absolute; left: 0; top: 6px; transform: rotate(45deg);
            border-top: solid 2px #484848; border-right: solid 2px #484848;
          }

          &:last-child {
            margin-bottom: 0;
          }

          span {
            display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap; width: 100%; padding-top: 5px;
          }

          i {
            margin-right: 5px; margin-bottom: 5px;
          }
        }
      }
    }

    .process {
      text-align: right;
      padding-top: 22px; flex-shrink: 0;

      @include respond-to(md) {
        order: 1;
      }
      @include respond-to(xs) {
        order: 2; width: 100%;
      }

      button {
        color: #f96868; font-size: 16px; line-height: 20px;
        display: flex; align-items: center; justify-content: center; width: 30px; height: 30px; position: absolute; right: 5px; top: 5px;
        background: none;
        cursor: pointer;
      }

      a {
        color: $white; font-size: 16px; font-family: $m-sb; line-height: 20px;
        display: inline-block; margin-bottom: 14px; padding: 10px 16px;
        background: #f96868; border: solid 1px #f96868; border-radius: 5px;
        transition: background 0.1s ease-out, color 0.1s ease-out;

        @include respond-to(lg) {
          font-size: 14px;
          padding: 9px 14px;
        }
        @include respond-to(xs) {
          font-size: 16px; text-align: center;
          padding: 10px 16px; width: 100%;
        }

        &:hover {
          color: #f96868;
          background: $white;
        }
      }

      p {
        color: #484848; font-size: 14px; font-family: $os-r; line-height: 18px;

        @include respond-to(lg) {
          font-size: 13px;
        }
      }
    }
  }

  & > footer {
    padding: 6px 25px 6px 22px;
    background: #f7f7f7; border-top: solid 1px #e2e2e2;

    @include respond-to(lg) {
      padding: 6px 15px;
    }

    &.active {
      .details {
        display: flex;
      }

      & > ul {
        li {
          button {
            span {
              display: none;
            }
            i {
              &:before {
                content: '\e901';
              }
            }
          }
        }
      }
    }

    .details {
      display: none; align-items: flex-start; padding: 25px 0;

      @include respond-to(md) {
        flex-wrap: wrap;
      }

      ul {
        width: 50%; padding-right: 10px;

        @include respond-to(xs) {
          width: 100%; padding-right: 0; margin-bottom: 13px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        li {
          color: #484848; font-size: 14px; font-family: $os-r; line-height: 18px;
          margin-bottom: 13px; padding-left: 35px; position: relative;

          @include respond-to(lg) {
            font-size: 13px;
          }
          @include respond-to(xs) {
            padding-left: 30px;
          }

          &:before {
            content: '';
            display: block; width: 21px; height: 21px; position: absolute; left: 0; top: -2px;
            background: url('/assets/img/check-circle.png') center center no-repeat;

            @include respond-to(lg) {
              top: -1px;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          strong {
            font-family: $os-b;
          }
        }
      }
    }

    & > ul {
      display: flex; align-items: center; justify-content: space-between;

      li {
        color: #f96868; font-size: 14px; font-family: $os-b; line-height: 20px;

        button {
          color: #484848; font-family: $os-r; text-transform: uppercase;
          display: flex; align-items: center;
          background: none;
          cursor: pointer;

          &:hover {
            i {
              color: #f96868;
            }
          }

          i {
            font-size: 20px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.loading {
  	height: 300px;
  	background: url("/assets/img/preloader.gif") center center no-repeat;
}
