@import '../../style/variables.scss';

@keyframes animatedGradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.range {
	display: block; position: relative;

	& > div {
		position: relative;
		border: solid 1px #e8e8f3; background: #fafafa;

		input {
			color: $main; font-size: 16px; font-family: $m-sb; line-height: 20px;
			margin-bottom: 10px; padding: 7px 10px 3px; width: 100%;
			background: transparent;
		}
		div {
			position: absolute; height: 12px; bottom: -4px; width: 100%;
			cursor: pointer;
		}
	}
}

.line {
  display: block; width: 100%; height: 4px; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
	background: linear-gradient(to right, #dd669b, #553d97); background-size: 200% 200%;
	animation: animatedGradient 10s ease infinite;
}

.point {
  display: block; width: 20px; height: 20px; position: absolute; left: 20%; top: 50%; transform: translate(-50%, -50%);
  background: $white; border-radius: 50%; border: solid 1px grey;
  cursor: pointer;
}

.caption {
	color: #919191; font-size: 12px; font-family: $m-r; line-height: 20px;
	position: absolute; right: 5px; top: 9px;
}
