@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.login {
  h2 {
    color: #161616; font-size: 24px; font-family: $m-sb; line-height: 28px; text-align: center;
    margin-bottom: 15px;
  }

  form {
    text-align: center;
  }

  label {
    color: #161616; font-size: 16px; font-family: $m-r; line-height: 20px;
    width: 100%; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;

    @include respond-to(xs) {
      font-size: 14px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    input {
      color: #161616; font-size: 16px; font-family: $m-r; line-height: 20px;
      padding: 5px 10px; width: 75%;
      border: solid 1px #161616; border-radius: 4px;
    }
  }

  p {
    color: $main; font-size: 16px; font-family: $m-sb; line-height: 20px; text-align: center;
    margin-bottom: 10px;
  }
}

.button {
  font-size: 14px; line-height: 18px;
  padding: 8px 14px; display: inline-block;
}

.active {
  composes: login;
  left: 50%; transform: translate(-50%, -50%);
  transition: left 0s 0s ease-out, transform 0s 0s ease-out;
}
