@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.categories {
  h2 {
    color: #161616; font-size: 16px; font-family: $m-sb; line-height: 22px;
    margin-bottom: 25px;
  }

  button {
    color: #161616; font-size: 14px; font-family: $os-r; line-height: 18px; text-align: left;
    padding-left: 15px; position: relative;
    background: transparent;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:before {
      content: '';
      display: block; width: 5px; height: 5px; position: absolute; left: 0; top: 7px;
      background: #161616; border-radius: 50%;
    }
  }

  ul {
    display: flex; align-items: flex-start; flex-wrap: wrap; width: 100%;

    li {
      margin-bottom: 15px; width: 33.33333%; padding-right: 15px;

      @include respond-to(sm) {
        width: 50%;
      }
      @include respond-to(xs) {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        button {
          color: #f96868; font-family: $os-sb;
        }
      }
    }
  }
}
