@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.edit {
  header {
    display: flex; align-items: center; justify-content: space-between;
    padding-bottom: 9px; margin-bottom: 10px;
    border-bottom: solid 1px #acacac;

    h3 {
      color: #161616; font-size: 18px; font-family: $m-sb; line-height: 25px;

      @include respond-to(xs) {
        font-size: 12px; line-height: 18px;
      }

      strong {
        color: #BF5894;
      }
    }

    button {
      display: block; width: 20px; height: 20px; position: relative; padding: 0;
      border: none; background: transparent;
      cursor: pointer;

      &:hover {
        background: transparent;
      }

      &:before, &:after {
        content: '';
        display: block; width: 20px; height: 4px; position: absolute; left: 50%; top: 50%;
        background: #BF5894; border-radius: 100px;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  section {
    margin-bottom: 20px;

    @include respond-to(xs) {
      margin-bottom: 10px;
    }
  }

  ul.tabs {
    display: flex; align-items: center; margin-bottom: 15px; flex-wrap: wrap;

    @include respond-to(xs) {
      margin-bottom: 12px;
    }

    li {
      padding-right: 8px; margin-right: 10px;
      border-right: solid 2px #999999;

      &:last-child {
        padding-right: 0; margin-right: 0;
        border-right: none;
      }

      button {
        color: #999999; font-size: 12px; font-family: $m-sb; line-height: 18px;
        background: transparent;
        cursor: pointer;

        &:hover, &.active {
          color: #161616;
        }
      }
    }
  }

  .card {
    &-main,
    &-details,
    &-categories,
    &-filters,
    &-sort {
      padding: 10px 0; display: none; max-height: calc(90vh - 202px);
      overflow-y: auto;

      @include respond-to(xs) {
        max-height: calc(96vh - 180px);
      }
    }

    &-main {
      align-items: flex-start; flex-wrap: wrap;

      &.active {
        display: flex;
      }

      figure {
        width: 200px; height: 160px; margin-right: 20px; display: flex; align-items: center; justify-content: center; flex-shrink: 0; position: relative;
        border-radius: 8px;
        overflow: hidden;

        @include respond-to(sm) {
          width: 100%;
        }

        &:hover {
          figcaption {
            opacity: 1;
          }
        }

        img {
          max-width: 90%; max-height: 90%;
        }

        figcaption {
          position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 5; display: flex; align-items: center; justify-content: center;
          background: rgba(0,0,0,0.7);
          opacity: 0;
          transition: opacity 0.3s ease-out;

          label {
            width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
            cursor: pointer;

            input {
              display: none;
            }
          }

          i {
            color: $white; font-size: 24px;
          }
        }
      }

      & > div:not(.specials) {
        width: calc(100% - 220px);

        label {
          color: #161616; font-size: 14px; font-family: $m-r; line-height: 18px;
          width: 100%; margin-bottom: 5px; display: flex; align-items: center; justify-content: space-between;

          @include respond-to(xs) {
            font-family: $m-sb;
            margin-bottom: 5px; flex-direction: column; align-items: flex-start;
          }

          &:last-child {
            margin-bottom: 0;
          }

          input {
            color: #161616; font-size: 14px; font-family: $m-sb; line-height: 18px;
            width: 60%; padding: 5px;
            background: $white; border-radius: 4px;

            @include respond-to(xs) {
              width: 100%; margin-top: 2px;
            }
          }
        }
      }

      .specials {
        width: 100%; padding-top: 20px;

        h3 {
          color: #161616; font-size: 16px; font-family: $m-sb; line-height: 20px;
          margin-bottom: 10px;
        }

        .checkbox-module {
          display: flex; align-items: flex-start;

          @include respond-to(sm) {
            flex-direction: column;
          }

          label {
            width: 25%; padding-right: 10px;

            @include respond-to(sm) {
              width: 100%; padding-right: 0; margin-bottom: 5px;
            }
          }
        }
      }

    }
    &-details {

      &.active {
        display: block;
      }

      ul {

        li {
          display: flex; align-items: stretch; justify-content: space-between;
          margin-bottom: 2px;

          @include respond-to(sm) {
            margin-bottom: 5px; flex-direction: column;
          }

          &:last-child {
            margin-bottom: 0;
          }

          label {
            color: #161616; font-size: 12px; font-family: $m-r; line-height: 16px; white-space: nowrap;
            width: 100%; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between; position: relative;
            background: $white;

            @include respond-to(sm) {
              font-family: $m-sb;
              flex-direction: column; align-items: flex-start; padding: 0; width: 100%;
              background: transparent;
            }

            input {
              color: #161616; font-size: 12px; font-family: $m-sb; line-height: 16px; text-align: right;
              width: 100%; margin-left: 10px;

              @include respond-to(sm) {
                text-align: left;
                padding: 5px 10px; margin-left: 0;
                border-bottom: solid 1px #e2e2e2;
              }
            }
          }

          & > input {
            color: #161616; font-size: 12px; font-family: $m-r; line-height: 16px;
            width: calc(50% - 1px); padding: 5px 10px;
            background: $white;

            @include respond-to(sm) {
              width: 100%;
            }
          }
        }
      }
    }
    &-categories {

      &.active {
        display: block;
      }

      ul {
        display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap;

        li {
          width: 33.333333%; padding-right: 10px; margin-bottom: 10px;
          @include respond-to(xs) {
            width: 50%;
          }

          label {
            color: #484848; font-size: 14px; font-family: $os-r; line-height: 14px;
            padding-left: 25px; position: relative; display: flex; justify-content: space-between; margin-bottom: 8px;
            cursor: pointer;

            &:last-child {
              margin-bottom: 0;
            }

            input {
              display: none;
            }

            &.active {
              &:before {
                background: #f7f7f7 url('./img/checked.png') center center no-repeat;
              }
            }

            &:before {
              content: '';
              display: block; width: 13px; height: 13px; position: absolute; left: 0; top: 0;
              background: #f7f7f7; border: solid 1px #b1b1b1;
            }
          }
        }
      }
    }

    &-filters {
      align-items: flex-start; justify-content: flex-start; flex-wrap: wrap;

      &.active {
        display: flex;
      }

      .popup-filter {
        width: 33.33333%; margin-bottom: 15px;

        @include respond-to(sm) {
          width: 50%;
        }
        @include respond-to(xs) {
          width: 100%;
        }

        &_range {
          width: 33.33333%; margin-bottom: 15px;

          @include respond-to(sm) {
            width: 50%;
          }
          @include respond-to(xs) {
            width: 100%;
          }

          label {
            padding-left: 0; display: flex; align-items: center; padding-right: 10px;

            &:before {
              content: none;
            }

            input {
              color: #161616; font-size: 16px; font-family: $m-r;
              display: block; width: 100%; margin-left: 5px; padding: 2px 5px;
            }
          }
        }
      }

      h3 {
        color: #161616; font-size: 16px; font-family: $m-sb; line-height: 20px;
        margin-bottom: 5px;
      }

      ul {


        li {
          margin-bottom: 5px; padding-right: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          label {
            color: #484848; font-size: 14px; font-family: $os-r; line-height: 14px;
            padding-left: 25px; position: relative; display: inline-block;
            cursor: pointer;

            &:last-child {
              margin-bottom: 0;
            }

            input {
              display: none;
            }

            &.active {
              &:before {
                background: #f7f7f7 url('./img/checked.png') center center no-repeat;
              }
            }

            &:before {
              content: '';
              display: block; width: 13px; height: 13px; position: absolute; left: 0; top: 0;
              background: #f7f7f7; border: solid 1px #b1b1b1;
            }
          }
        }
      }
    }

    &-sort {

      &.active {
        display: block;
      }

      ul {

        li {
          display: flex; align-items: stretch; justify-content: space-between;
          margin-bottom: 2px;

          @include respond-to(sm) {
            margin-bottom: 5px; flex-direction: column;
          }

          &:last-child {
            margin-bottom: 0;
          }

          label {
            color: #161616; font-size: 12px; font-family: $m-r; line-height: 16px; white-space: nowrap;
            width: 100%; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between; position: relative;
            background: $white;

            @include respond-to(sm) {
              font-family: $m-sb;
              flex-direction: column; align-items: flex-start; padding: 0; width: 100%;
              background: transparent;
            }

            input {
              color: #161616; font-size: 12px; font-family: $m-sb; line-height: 16px; text-align: right;
              width: 100%; margin-left: 10px;

              @include respond-to(sm) {
                text-align: left;
                padding: 5px 10px; margin-left: 0;
                border-bottom: solid 1px #e2e2e2;
              }
            }
          }
        }
      }
    }
  }

  footer {
    display: flex; align-items: center; justify-content: space-between;

    ul {
      display: flex; align-items: center;

      li {
        margin-right: 10px;

        @include respond-to(xs) {
          margin-right: 5px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    button {
      color: #BF5894; font-size: 16px; font-family: $m-sb; line-height: 20px;
      display: inline-block; padding: 10px 16px;
      background: transparent; border: solid 2px #BF5894; border-radius: 5px;
      cursor: pointer;

      @include respond-to(xs) {
        font-size: 14px; line-height: 18px;
        padding: 8px;
      }

      &:hover, &.active {
        color: $white;
        background: linear-gradient(to right, #dd669b 0%, #553d97 100%); border-color: #fff;
      }
    }
  }
}
