@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

@keyframes buttonHoverGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.email {
  .close {
    width: 32px; height: 32px; display: block; position: absolute; right: 0; top: 0; transform: translate(50%, -50%);
    background: $white; border: solid 1px #bebebe; border-radius: 50%;

    @include respond-to(sm) {
      width: 26px; height: 26px;
    }

    &:before, &:after {
      content: '';
      display: block; width: 14px; height: 2px; position: absolute; left: 50%; top: 50%;
      background: #161616; border-radius: 20px;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  figure {
    width: 100%; margin-bottom: 15px;

    img {
      width: 100%;
    }
  }

  form {
    display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; padding: 0 15px;

    @include respond-to(sm) {
      padding: 0;
    }
  }

  p {
    color: #161616; font-size: 17px; font-family: $m-sb; line-height: 22px; text-transform: uppercase;
    margin-bottom: 5px; width: 100%;

    @include respond-to(sm) {
      font-size: 16px;
    }
    @include respond-to(xs) {
      font-size: 14px; line-height: 20px;
    }
  }

  input[type="email"] {
    color: #161616; font-size: 14px; font-family: $os-r; line-height: 22px;
    padding: 14px; width: 57.96296%;
    border: solid 1px #e2e2e2; border-radius: 5px;

    &:invalid:not(:placeholder-shown) {border-color: red;}
    &:valid:not(:placeholder-shown) {border-color: green;}

    @include respond-to(xs) {
      width: 100%; margin-bottom: 5px; padding: 10px 14px;
    }
  }

  button {
    color: $white; font-size: 16px; font-family: $m-sb; line-height: 22px; text-transform: uppercase;
    width: 40.18519%; padding: 14px 10px;
    background: linear-gradient(to left, #dd669b 0%, #553d97 100%); border: solid 2px #fff; border-radius: 5px;
    cursor: pointer;
    
    &:hover {
      color: #fff;
      background: linear-gradient(to right, #dd669b, #553d97); background-size: 200% 200%; border-color: #fff;
      animation: buttonHoverGradient 10s ease infinite;
    }

    @include respond-to(xs) {
      font-size: 14px;
      width: 100%; padding: 10px;
    }
  }

  .agreement {
    display: flex;

    input {
      margin-right: 5px; width: 18px; height: 18px;
      opacity: 0;

      &:checked + label:before {
        background: #f7f7f7 url('/assets/img/checked.png') center center no-repeat;
      }
    }
  }

  label {
    color: #161616; font-size: 14px; font-family: $m-r; line-height: 18px;
    width: 100%; margin-top: 5px; position: relative;
    cursor: pointer;

    &:before {
      content: '';
      display: block; width: 14px; height: 14px; position: absolute; left: -20px; top: 2px;
			background: #f7f7f7; border: solid 1px #b1b1b1;
    }

    a {
      color: $main; text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
