.normal {
	display: block; width: 100%; height: 100vh; position: fixed; left: 0; top: 0; transform: translateX(-110%); z-index: 45;
  background: rgba(22,22,22,0.9);
  opacity: 0; pointer-events: none;
	transition: opacity 0.2s ease-out, transform 0s 0.2s ease-out;
}
.active {
  composes: normal;
  transform: translateX(0);
  opacity: 1; pointer-events: auto;
  transition: opacity 0.2s ease-out, transform 0s 0s ease-out
}
