@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.popup {
	position: absolute; width: 1140px; padding: 0 15px; z-index: 5; transform: translate(-200%, -50%); left: 0; top: 50%; z-index: 6;
	background: #fff; border-radius: 8px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	transition: left 0s 0.4s ease-out, transform 0s 0.4s ease-out;
	pointer-events: none;

	@include respond-to(lg) {width: 980px;}
	@include respond-to(md) {width: 760px;}
	@include respond-to(sm) {width: calc(100% - 30px);}
}

.login {
  composes: popup;
  width: 400px; padding: 20px;

  @include respond-to(lg) {width: 980px;}
  @include respond-to(md) {width: 760px;}
  @include respond-to(sm) {width: calc(100% - 30px);}

  &.active {
    left: 50%; transform: translate(-50%, -50%);
    transition: left 0s 0s ease-out, transform 0s 0s ease-out;
    pointer-events: auto;
  }
}

.categories {
  composes: popup;
  position: absolute; top: 60px; max-height: calc(100vh - 70px); display: flex; align-items: flex-start; padding: 40px 40px 25px;
  overflow-y: auto;

  @include respond-to(xs) {
    padding: 30px 25px;
  }

  &.active {
    left: 50%; transform: translateX(-50%);
    transition: left 0s 0s ease-out, transform 0s 0s ease-out;
    pointer-events: auto;
  }
}

.email {
  composes: popup;
  max-width: 600px; height: 500px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 10px; display: none;
  border-radius: 0;

  @include respond-to(sm) {
    height: auto;
  }

  &.active {
    display: block;
    pointer-events: auto;
  }
}

.testimonial {
  composes: popup;
  display: none;  width: 300px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 30px 15px;

  &.active {
    display: block;
    pointer-events: auto;
  }
}

.edit {
	composes: popup;
  max-width: 800px; left: 0; top: 50%; transform: translate(-150%, -50%); padding: 20px; max-height: 90vh;
  background: #e2e2e2;

  @include respond-to(xs) {
    max-height: 96vh; padding: 10px; width: calc(100% - 10px);
  }

  &.active {
    left: 50%; transform: translate(-50%, -50%);
    transition: left 0s 0s ease-out, transform 0s 0s ease-out;
    pointer-events: auto;
  }
}

.subscribed {
	composes: popup;
  width: 260px; height: 160px; display: flex; align-items: center; justify-content: center; top: 50%; left: 0; transform: translate(-120%, -50%);

  &.active {
     left: 50%; transform: translate(-50%, -50%);
		 pointer-events: auto;
  }
}
