@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.subscribed {
  .close {
    display: block; width: 20px; height: 20px; position: absolute; right: 5px; top: 5px;

    &:before, &:after {
      content: '';
      display: block; width: 20px; height: 4px; position: absolute; left: 50%; top: 50%;
      background: #BF5894; border-radius: 10px;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  p {
    color: #161616; font-size: 16px; font-family: $m-r; line-height: 20px; text-align: center;
  }
}
