@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.sended {
  display: flex; align-items: center; justify-content: center; flex-direction: column;

  p {
    color: #161616; font-size: 16px; font-family: $m-r; line-height: 22px; text-align: center;
    margin-bottom: 30px;
  }

  a {
    color: $white; font-size: 16px; font-family: $m-sb; line-height: 20px;
    padding: 10px 16px; display: inline-block;
    background: linear-gradient(to left, #dd669b 0%, #553d97 100%); border: solid 2px #fff; border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: #BF5894;
      background: $white; border-color: #BF5894;
    }
  }
}
