@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.popups {
	display: block; width: 100%; height: 100vh; position: fixed; left: 0; top: 0; transform: translateX(-110%); z-index: 45;
  background: rgba(22,22,22,0.9);
  opacity: 0; pointer-events: none;
	transition: opacity 0.4s ease-out, transform 0s 0.4s ease-out;

	&.active {
		transform: translateX(0);
		opacity: 1; pointer-events: auto;
		transition: opacity 0.4s ease-out, transform 0s 0s ease-out
	}
}

.popup {
	position: absolute; width: 1140px; padding: 0 15px; z-index: 5; transform: translateX(-100%); left: 0; z-index: 6;
	background: #fff; border-radius: 8px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	transition: left 0s 0.4s ease-out, transform 0s 0.4s ease-out;
	pointer-events: none;

	@include respond-to(lg) {width: 980px;}
	@include respond-to(md) {width: 760px;}
	@include respond-to(sm) {width: calc(100% - 30px);}

	&.active {
		left: 50%; transform: translateX(-50%);
		transition: left 0s 0s ease-out, transform 0s 0s ease-out;
		pointer-events: auto;
	}
}

.login {
  composes: popup;
  left: 0; top: 50%; transform: translate(-110%, -50%); width: 400px; padding: 20px;

  @include respond-to(xs) {
    width: calc(100% - 30px); padding: 15px;
  }

  &.active {
    left: 50%; transform: translate(-50%, -50%);
    transition: left 0s 0s ease-out, transform 0s 0s ease-out;
  }

  h2 {
    color: #161616; font-size: 24px; font-family: $m-sb; line-height: 28px; text-align: center;
    margin-bottom: 15px;
  }

  form {
    text-align: center;
  }

  label {
    color: #161616; font-size: 16px; font-family: $m-r; line-height: 20px;
    width: 100%; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;

    @include respond-to(xs) {
      font-size: 14px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    input {
      color: #161616; font-size: 16px; font-family: $m-r; line-height: 20px;
      padding: 5px 10px; width: 75%;
      border: solid 1px #161616; border-radius: 4px;
    }
  }

  p {
    color: #f96868; font-size: 16px; font-family: $m-sb; line-height: 20px; text-align: center;
    margin-bottom: 10px;
  }

  button {
    color: #f96868; font-size: 14px; font-family: $m-sb; line-height: 18px;
    display: inline-block; padding: 8px 14px;
    background: transparent; border: solid 2px #f96868; border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: $white;
      background: #f96868;
    }
  }
}
