@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.testi {
	width: calc(33.33333% - 20px); margin: 10px; position: relative;
	background: #ffffff; border: solid 1px #e2e2e2;

	@include respond-to(md) {
		width: calc(50% - 20px);
	}
	@include respond-to(xs) {
		width: 100%; margin: 0 0 10px;
	}

	&:last-child {
		@include respond-to(xs) {
			margin-bottom: 0;
		}
	}

	header {
		margin-bottom: 5px; padding: 10px 19px;
	}

	h3 {
		color: #464646; font-size: 18px; font-family: $m-sb; line-height: 25px;

		span {
			color: $main;
		}
	}

	.delete {
		color: $main; font-size: 16px;
		display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; position: absolute; right: 5px; top: 5px; z-index: 5;
	}

	&:hover {
		.actions {
			opacity: 1;
		}
	}

	div {
		position: relative; padding: 40px 60px 35px;

		@include respond-to(xs) {
			padding: 20px 40px;
		}

		.moderate & {
			padding: 20px 19px;
			i {
				display: none;
			}
		}

		p, textarea {
			color: #484848; font-size: 14px; font-family: $os-r; line-height: 22px;
		}
		textarea {
			width: 100%; min-height: 200px;
			resize: none;
		}
	}

	.actions {
		display: flex; align-items: center; justify-content: space-between; padding: 5px 19px 12px;
		opacity: 0;

		@include respond-to(sm) {
			flex-direction: column; align-items: center;
		}

		button {
			color: $white; font-size: 16px; font-family: $m-sb; line-height: 22px;
			margin: 0; display: block; padding: 7px 12px;
			background: linear-gradient(to left, #dd669b 0%, #553d97 100%); border: solid 2px #fff; border-radius: 5px;
			cursor: pointer;

			@include respond-to(sm) {
				font-size: 14px; line-height: 18px; text-align: center;
				padding: 6px 8px; width: 100%; margin-bottom: 5px;
				border-width: 1px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {
				color: $main;
				background: $white; border-color: $main;
			}
		}
	}

	footer {
		display: flex; align-items: center; justify-content: space-between; padding: 15px 19px;
		border-top: solid 1px #e2e2e2;

		@include respond-to(sm) {
			flex-direction: column;
		}

		p {
			color: #232935; font-size: 16px; font-family: $m-sb; line-height: 22px; text-transform: uppercase;

			@include respond-to(sm) {
				font-size: 14px; order: 1;
			}
		}

		ul {
			display: flex; align-items: center;

			@include respond-to(sm) {
				order: 0; margin-bottom: 2px;
			}

			li {
				margin-right: 2px;

				&:last-child {
					margin-right: 0;
				}

				i {
					color: #c2c2c2; font-size: 14px;
				}
			}
		}
	}
}

:global {
  i.fa-quote {
    &-left, &-right {
      color: #c2c2c2; font-size: 24px;
      position: absolute;

      @include respond-to(xs) {
        font-size: 16px;
      }
    }
    &-left {
      left: 19px; top: 19px;

      @include respond-to(xs) {
        left: 8px; top: 8px;
      }
    }
    &-right {
      right: 19px; bottom: 19px;

      @include respond-to(xs) {
        right: 8px; bottom: 8px;
      }
    }
  }
}
