@import '../../../../style/mixins.scss';
@import '../../../../style/variables.scss';

.categories {
  display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap;

  li {
    width: 33.333333%; padding-right: 10px; margin-bottom: 10px;
    @include respond-to(xs) {
      width: 50%;
    }

    label {
      color: #484848; font-size: 14px; font-family: $os-r; line-height: 14px;
      padding-left: 25px; position: relative; display: flex; justify-content: space-between; margin-bottom: 8px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      input {
        display: none;
      }

      &.active {
        &:before {
          background: #f7f7f7 url('/assets/img/checked.png') center center no-repeat;
        }
      }

      &:before {
        content: '';
        display: block; width: 13px; height: 13px; position: absolute; left: 0; top: 0;
        background: #f7f7f7; border: solid 1px #b1b1b1;
      }
    }
  }
}
