@import '../../../../style/mixins.scss';
@import '../../../../style/variables.scss';

.tabs {
  display: flex; align-items: center; margin-bottom: 15px; flex-wrap: wrap;

  @include respond-to(xs) {
    margin-bottom: 12px;
  }

  li {
    padding-right: 8px; margin-right: 10px;
    border-right: solid 2px #999999;

    &:last-child {
      padding-right: 0; margin-right: 0;
      border-right: none;
    }

    button {
      color: #999999; font-size: 12px; font-family: $m-sb; line-height: 18px;
      background: transparent;
      cursor: pointer;

      &:hover, &.active {
        color: #161616;
      }
    }
  }
}
