@import '../../style/mixins.scss';
@import '../../style/variables.scss';


.wrSmartTest {
  padding: 100px 0 75px; min-height: calc(100vh - 163px);
  background: #fff;
}

.smartTest {
    display: block; margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
}

.message {
  display: flex; margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  figure {
    margin-right: 50px; padding-top: 15px;
  }

  h4, p {
    color: #464646; font-size: 14px; font-family: $m-sb; line-height: 22px;
    margin-bottom: 26px;
  }

  p {
    font-family: $os-r;
  }
}

.answer {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  ul {
    display: flex; align-items: center; justify-content: flex-end; flex-wrap: wrap; margin-bottom: -30px;
  }

  li {
    margin-left: 25px; margin-bottom: 30px;

    &:first-child {
      margin-left: 0;
    }
  }

  button, span {
    color: #161616; font-size: 14px; font-family: $m-sb; line-height: 22px;
    padding: 8px 18px; display: inline-block;
    background: #ffffff; border: solid 1px #c2c2c2; border-radius: 4px;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      background: #f96868; border-color: #f96868;
    }
  }

  span {
    cursor: default;

    &:hover {
      color: #161616;
      background: #ffffff; border-color: #c2c2c2;
    }

    &.active {
      color: #ffffff;
      background: #f96868; border-color: #f96868;
    }
  }
}
