@import '../../style/mixins.scss';
@import '../../style/variables.scss';


.cookie {
  position: fixed; left: 50%; bottom: 0; transform: translate(-50%, 105%); width: 100%; max-width: 768px; z-index: 30;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;

  &.active {
    transform: translate(-50%, 0);
    transition: transform 0.3s 1s ease-out, opacity 0.3s ease-out;
    opacity: 1;
  }
}

.close {
  display: block; width: 20px; height: 20px; position: absolute; right: 5px; top: 5px; z-index: 5;

  &:before, &:after {
    content: '';
    display: block; width: 20px; height: 2px; position: absolute; left: 50%; top: 50%;
    background: $main; border-radius: 10px;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.popup {
  position: relative; width: 100%; left: 0; bottom: 0; padding: 15px;
  background: #ffffff; border: solid 1px $main;
}

.brief {
  composes: popup;
  display: flex; align-items: center; justify-content: space-between;

  .all & {
    position: absolute; transform: translateY(105%);
    opacity: 0;
  }

  p, a {
    color: #161616; font-size: 14px; font-family: $m-r; line-height: 20px;
  }

  a {
    color: $main; font-size: 12px;
  }
}

.full {
  composes: popup;
  position: absolute; transform: translateY(105%);
  opacity: 0;

  .all & {
    position: relative; transform: translateY(0);
    opacity: 1;
  }

  section {
    margin-bottom: 15px;
  }

  footer {
    display: flex; align-items: center;

    & > * {
      margin-right: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h3 {
    color: #161616; font-size: 16px; font-family: $m-sb; line-height: 20px;
    margin-bottom: 10px;
  }

  p, a, li {
    color: #161616; font-size: 12px; font-family: $m-r; line-height: 20px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    font-size: 14px;
  }

  li {
    padding-left: 15px; position: relative;

    &:before {
      content: '';
      position: absolute; left: 0; top: 9px; display: block; width: 4px; height: 4px;
      background: #161616; border-radius: 50%;
    }
  }

  a {
    color: $main;
  }

  button {
    color: #fff; font-size: 14px; font-family: $m-sb; line-height: 18px;
    display: inline-block; padding: 8px 15px;
    background: linear-gradient(to left, #dd669b 0%, #553d97 100%); border: solid 2px #fff; border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to right, #dd669b 0%, #553d97 100%);
    }
  }
}
