@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.sort {
  display: flex; align-items: center; margin-bottom: 25px;

  @include respond-to(sm) {
    flex-direction: column; display: none;
  }

  p, ul li button {
    color: #3b4f72; font-size: 14px; font-family: $os-r; line-height: 18px; text-transform: uppercase;
    position: relative;
    opacity: 0.8;

    @include respond-to(md) {
      font-size: 12px; text-transform: none;
    }
  }

  p {
    margin-right: 15px;

    @include respond-to(md) {
      margin-right: 10px;
    }
    @include respond-to(sm) {
      margin-right: 0; margin-bottom: 10px;
    }
  }

  button {
    background: transparent;
    cursor: pointer;

    &.active {
      color: #000;
      padding-right: 15px;
      opacity: 1;
      &:after {
        content: '';
        display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%);
        border-right: solid 4px transparent; border-left: solid 4px transparent;
      }

      &.up {
        &:after {
          border-bottom: solid 8px #000;
        }
      }
      &.down {
        &:after {
          border-top: solid 8px #000;
        }
      }
    }
  }

  ul {
    display: flex; align-items: center;

    @include respond-to(sm) {
      flex-direction: column;
    }

    li {
      margin-right: 20px; padding-right: 19px; position: relative;
      border-right: solid 1px rgba(194, 194, 194, 0.6);

      @include respond-to(md) {
        margin-right: 10px; padding-right: 9px;
      }
      @include respond-to(sm) {
        margin-right: 0; padding-right: 0; margin-bottom: 5px; padding-bottom: 6px;
        border-right: none;
      }

      &:last-child {
        margin-right: 0; padding-right: 0; margin-bottom: 0; padding-bottom: 0;
        border-right: none;

        &:after {
          content: none;
        }
      }

      &:after {
        content: none;
        display: block; width: 60px; height: 1px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
        background: #c2c2c2;

        @include respond-to(sm) {
          content: '';
        }
      }
    }
  }
}
