@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.leaveRate {
  display: inline-flex; align-items: center; justify-content: flex-start;
  cursor: pointer;

  li {
    color: #e2e2e2;
    margin-right: 2px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }


}

:global {
  @for $i1 from 1 through 5 {
    .rate-#{$i1} {
      @for $i2 from 1 through $i1 {
        & li:nth-child(#{$i2}) {
          color: #f2a654 !important;
        }
      }
    }
  }
}
