@import '../../style/mixins.scss';
@import '../../style/variables.scss';

@keyframes headerGradient {
  0%{background-position:0% 50%}
  50%{background-position:50% 50%}
  100%{background-position:0% 50%}
}

.contacts {
  display: flex; align-items: center;

  @include respond-to(xs) {
    margin-bottom: 10px;
  }

  .contactsLink, .contactsText {
    color: #fff; font-size: 12px; line-height: 14px; font-family: $m-sb;
  }

  .contactsLink {
    &:hover {
      text-decoration: underline;
    }

    i {
      margin-right: 5px;
    }
  }

  .contactsText {

    i {
      margin-right: 5px;
    }
  }
}

.links {
  display: flex; align-items: center;

  li {
    padding-right: 14px; margin-right: 15px;
    border-right: solid 1px #fff;

    @include respond-to(sm) {
      padding-right: 9px; margin-right: 10px;
    }
    @include respond-to(xs) {
      padding-right: 4px;	margin-right: 5px;
    }

    &:last-child {
      margin-right: 0; padding-right: 0;
      border-right: none;
    }

    a, button {
      color: #fff; font-size: 12px; line-height: 14px; font-family: $m-r; text-transform: uppercase;
      background: none;
      cursor: pointer;

      @include respond-to(xs) {
        font-size: 10px;
      }

      &.active {
        font-family: $m-sb;
        pointer-events: none;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
