@import './reset.scss';
@import './mixins.scss';
@import './fonts.scss';
@import './variables.scss';
@import './icon-font.scss';

html, body {
	background: #fff;
}

body {
	height: auto !important;
	&.onload {overflow:hidden;}

	* {
		-webkit-font-smoothing: antialiased !important;

		&:focus {
			outline: none;
		}
	}
}

.container {
	position: relative; margin: 0 auto; width: 1140px; padding: 0 15px; z-index: 5;
	@include respond-to(lg) {width: 980px;}
	@include respond-to(md) {width: 760px;}
	@include respond-to(sm) {width: 100%;}

	&:before {content: ''; display: table;}
	&:after {content: ''; display: table; clear: both;}
}

.app {
	min-width: 320px;
	background: #fafafa;

	&.partners {
		@include respond-to(sm) {padding-bottom: 50px;}
	}
}

.categories-button {
	color: #fff; font-size: 14px; font-family: $m-sb; line-height: 26px; text-align: center; text-transform: uppercase;
	position: fixed; bottom: 0; left: 0; width: 100%; height: 50px; display: none; z-index: 5;
	background: linear-gradient(to left, #dd669b 0%, #553d97 100%); box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);

	@include respond-to(sm) {
		display: block;
	}
}
