@import './reset.scss';
@import './mixins.scss';
@import './fonts.scss';

body {
	height: auto !important;
	&.onload {overflow:hidden;}

	* {
		-webkit-font-smoothing: antialiased !important;

		&:focus {
			outline: none;
		}
	}
}

.container {
	position: relative; margin: 0 auto; width: 1140px; padding: 0 15px; z-index: 5;
	@include respond-to(lg) {width: 980px;}
	@include respond-to(md) {width: 760px;}
	@include respond-to(sm) {width: 100%;}

	&:before {content: ''; display: table;}
	&:after {content: ''; display: table; clear: both;}
}

.app {
	min-width: 320px;
	background: #ffffff url('../assets/img/preloader.gif') center top 65px no-repeat;
}
