@mixin font-type($font-family, $font-size, $line-height, $letter-spacing) {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

@mixin respond-to($media) {

	@if $media == mobile {@media (max-width: 400px) {@content;}}

	@else if $media == xs {@media (max-width: 480px) {@content;}}
	@else if $media == sm {@media (max-width: 767px) {@content;}}
	@else if $media == md {@media (max-width: 991px) {@content;}}
	@else if $media == lg {@media (max-width: 1199px) {@content;}}
	@else if $media == desktop {@media (max-width: 1299px) {@content;}}
	@else {@media (max-width: $media) {@content;}}
}

@mixin font-face($file-path, $font-family) {

	@font-face {
		font-family: $font-family;
		src: url('./fonts/' + $file-path + '/' + $file-path + '.eot');
		src: url('./fonts/' + $file-path + '/' + $file-path + '.eot') format('embedded-opentype'),
		url('./fonts/' + $file-path + '/' + $file-path + '.woff2') format('woff2'),
		url('./fonts/' + $file-path + '/' + $file-path + '.woff') format('woff'),
		url('./fonts/' + $file-path + '/' + $file-path + '.ttf') format('truetype'),
		url('./fonts/' + $file-path + '/' + $file-path + '.svg##{$file-path}') format('svg');

		font-weight: normal;
		font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-family;
			src: url('./fonts/' + $file-path + '/' + $file-path + '.svg##{$file-path}') format('svg');
		}
	}
}

body {
	height: auto !important;
	&.onload {overflow:hidden;}

	* {
		-webkit-font-smoothing: antialiased !important;

		&:focus {
			outline: none;
		}
	}
}

.container {
	position: relative; margin: 0 auto; width: 1140px; padding: 0 15px; z-index: 5;
	@include respond-to(lg) {width: 980px;}
	@include respond-to(md) {width: 760px;}
	@include respond-to(sm) {width: 100%;}

	&:before {content: ''; display: table;}
	&:after {content: ''; display: table; clear: both;}
}
