@mixin font-type($font-family, $font-size, $line-height, $letter-spacing) {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

@mixin respond-to($media) {

	@if $media == mobile {@media (max-width: 400px) {@content;}}

	@else if $media == xs {@media (max-width: 480px) {@content;}}
	@else if $media == sm {@media (max-width: 767px) {@content;}}
	@else if $media == md {@media (max-width: 991px) {@content;}}
	@else if $media == lg {@media (max-width: 1199px) {@content;}}
	@else if $media == desktop {@media (max-width: 1299px) {@content;}}
	@else {@media (max-width: $media) {@content;}}
}

@mixin font-face($file-path, $font-family) {

	@font-face {
		font-family: $font-family;
		src: url('/assets/fonts/' + $file-path + '/' + $file-path + '.eot');
		src: url('/assets/fonts/' + $file-path + '/' + $file-path + '.eot') format('embedded-opentype'),
		url('/assets/fonts/' + $file-path + '/' + $file-path + '.woff2') format('woff2'),
		url('/assets/fonts/' + $file-path + '/' + $file-path + '.woff') format('woff'),
		url('/assets/fonts/' + $file-path + '/' + $file-path + '.ttf') format('truetype'),
		url('/assets/fonts/' + $file-path + '/' + $file-path + '.svg##{$file-path}') format('svg');

		font-weight: normal;
		font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-family;
			src: url('/assets/fonts/' + $file-path + '/' + $file-path + '.svg##{$file-path}') format('svg');
		}
	}
}
