$m-l: 'montserrat-light', sans-serif;
$m-r: 'montserrat-regular', sans-serif;
$m-sb: 'montserrat-semibold', sans-serif;

$os-r: 'opensans-regular', sans-serif;
$os-b: 'opensans-bold', sans-serif;

$white: #fff;
$black: #000;
$main: #d0007d;
