/****** Fonts ******/
// Montserrat
$m-th: 'montserrat-thin', sans-serif;
$m-l: 'montserrat-light', sans-serif;
$m-r: 'montserrat-regular', sans-serif;
$m-m: 'montserrat-medium', sans-serif;
$m-sb: 'montserrat-semibold', sans-serif;
$m-b: 'montserrat-bold', sans-serif;

// Open Sans
$os-l: 'opensans-light', sans-serif;
$os-r: 'opensans-regular', sans-serif;
$os-sb: 'opensans-semibold', sans-serif;
$os-b: 'opensans-bold', sans-serif;

/****** Colors ******/
$white: #fff;
$black: #000;
