@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.wrMain {
  padding: 69px 0 56px;
  background: #fff;
}

.main {
	display: flex; align-items: flex-start;

	@include respond-to(sm) {
		flex-direction: column;
	}
}

.results {
  width: 100%;

  h2 {
		color: #232935; font-size: 24px; font-family: $m-sb; line-height: 28px;
		margin-bottom: 35px;

		@include respond-to(sm) {
			text-align: center;
		}
		@include respond-to(xs) {
			font-size: 22px;
		}

		em {
			font-family: $m-l; white-space: nowrap;
		}
	}
}
