@import '../../style/mixins.scss';

.wrMain {
  padding: 69px 0 56px;
  background: #fff;
}

.main {
	display: flex; align-items: flex-start;

	@include respond-to(sm) {
		flex-direction: column;
	}
}

.results {
  width: 100%;
}
