@import '../../style/variables.scss';

.wrFooter {
  padding: 27px 0;
  background: #f7f7f7; border-top: solid 1px #e2e2e2;
}

.footer {
	display: flex; align-items: center; flex-direction: column;

	.logo {
		margin-bottom: 5px; flex-shrink: 0;
	}

	ul.socials {
		display: flex; align-items: center; margin-right: 80px; flex-shrink: 0;

		li {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: #161616; font-size: 14px;

				&:hover {
					svg {
						&.fa {
							&-facebook-f {
								color: #4267b2;
							}
							&-twitter {
								color: #1da0f1;
							}
							&-google-plus-g {
								color: #d44132;
							}
							&-pinterest-p {
								color: #cb2027;
							}
						}
					}
				}
			}
		}
	}

	small {
		color: #161616; font-size: 11px; font-family: $m-r; line-height: 18px;
	}

	.admin-buttons {
		display: flex; align-items: center; justify-content: center; margin-top: 5px;

		li {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	button, a {
		color: #161616; font-size: 12px; font-family: $m-r; line-height: 16px;
		background: none;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}
