@import '../../style/variables.scss';

.wrFooter {
  padding: 27px 0; position: fixed; left: 0; bottom: 0; width: 100%; z-index: 1;
  background: #fafafa;
}

.footer {
	display: flex; align-items: center; flex-direction: column;

	.logo {
		margin-bottom: 5px; flex-shrink: 0;
	}

	small {
		color: #161616; font-size: 11px; font-family: $m-r; line-height: 18px; text-align: center;
	}

	.admin {
		display: flex; align-items: center; justify-content: center; margin-top: 5px;

		li {
			margin-right: 8px; padding-right: 7px;
      border-right: solid 1px #161616;

			&:last-child {
				margin-right: 0;
        border-right: none;
			}
		}
	}

	button, a {
		color: #161616; font-size: 12px; font-family: $m-r; line-height: 16px;
		background: none;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}
