@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.push {
  position: fixed; left: 50%; top: 10px; width: 100%; max-width: 400px; padding: 15px; transform: translate(-50%, calc(-100% - 15px)); display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 30;
  background: #fff; border: solid 1px $main; box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
  opacity: 0; pointer-events: none;
  transition: opacity 0.2s ease-out, transform 0s 0.2s ease-out;

  &.active {
    transform: translate(-50%, 0%);
    opacity: 1; pointer-events: auto;
    transition: opacity 0.2s ease-out, transform 0s 0s ease-out;
  }

  p {
    color: #161616; font-size: 14px;  font-family: $m-r; line-height: 22px; text-align: center;
    margin-bottom: 10px;
  }

  ul {
    display: flex; align-items: center;

    li {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  a {
    color: $main; font-size: 14px; font-family: $m-sb; line-height: 22px;
  }

  .closeButton {
    position: absolute; right: 5px; top: 5px; width: 20px; height: 20px; padding: 0;
    background: none;

    &:hover {
      background: none;
    }

    &:before,
    &:after {
      content: '';
      display: block; width: 16px; height: 2px; position: absolute; left: 50%; top: 50%;
      background: $main; border-radius: 10px;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.button {
  font-size: 14px; line-height: 20px;
  padding: 8px 12px;
}
