@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.push {
  position: fixed; left: 50%; top: 10px; width: 100%; max-width: 400px; padding: 15px; transform: translateX(-50%); display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 30;
  background: #fff; border: solid 1px #f96868; box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
  opacity: 0; pointer-events: none;
  transition: opacity 0.2s ease-out, transform 0s 0.2s ease-out;

  &.active {
    opacity: 1; pointer-events: auto;
    transition: opacity 0.2s ease-out, transform 0s 0s ease-out;
  }

  p {
    color: #161616; font-size: 14px;  font-family: $m-r; line-height: 22px; text-align: center;
    margin-bottom: 10px;
  }

  ul {
    display: flex; align-items: center;

    li {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  a {
    color: #f96868; font-size: 14px; font-family: $m-sb; line-height: 22px;

  }

  button {
    color: $white; font-size: 14px; font-family: $m-sb; line-height: 20px;
		display: block; padding: 8px 12px;
		background: #f96868; border: solid 1px #f96868; border-radius: 5px;
		cursor: pointer;

		@include respond-to(xs) {
			width: 100%;
		}

		&:hover {
			color: #f96868;
			background: $white;
		}
  }
}
