@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.sidebar {
  width: 270px; flex-shrink: 0; margin-right: 30px; margin-bottom: 20px; padding: 20px;
  border: solid 1px #e2e2e2;

  @include respond-to(lg) {
    margin-right: 15px; padding: 10px; width: 250px;
  }
  @include respond-to(md) {
    width: 220px;
  }
  @include respond-to(sm) {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & > p {
    font-size: 12px; font-family: $m-l;
    padding-bottom: 19px; margin-bottom: 19px;
    border-bottom: solid 1px #f7f7f7;

  	&:last-child {
  		margin-bottom: 0; padding-bottom: 0;
  		border-bottom: none;
  	}

    strong {
      font-size: 16px; font-family: $os-b;
    }

    span {
      font-size: 14px; white-space: nowrap;
    }
  }

  [class*="range"] {
    p {
      color: #919191; font-size: 12px; font-family: $m-r; line-height: 20px;
      position: absolute; right: 5px; top: 9px
    }
  }
}

.categories {
  width: 270px; flex-shrink: 0; margin-right: 30px; margin-bottom: 20px; padding: 19px;
  border: solid 2px #BF5894;

  @include respond-to(lg) {
    margin-right: 15px; padding: 10px; width: 250px;
  }
  @include respond-to(md) {
    width: 220px;
  }
  @include respond-to(sm) {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.filter {
	padding-bottom: 19px; margin-bottom: 19px;
	border-bottom: solid 1px #f7f7f7;

	&:last-child {
		margin-bottom: 0; padding-bottom: 0;
		border-bottom: none;
	}

	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}

	h4 {
		color: #161616; font-size: 14px; font-family: $m-sb; line-height: 18px;
		display: flex; justify-content: space-between; margin-bottom: 10px;

		button {
			color: #c2c2c2; font-size: 18px; font-family: $os-r; text-transform: uppercase;
			margin-left: 5px; position: relative;
			background: transparent;
			cursor: pointer;
      pointer-events: none;

      &:hover {
        span {
          display: block;
        }
      }

			&.active {
				color: #BF5894;
        pointer-events: auto;
			}

      span {
        color: #fff; font-size: 12px; font-family: $m-r; line-height: 18px; text-transform: none; white-space: nowrap;
        padding: 1px 5px; position: absolute; left: 50%; top: -6px; transform: translate(-50%, -100%); display: none;
        background: linear-gradient(to right, #dd669b 0%, #553d97 100%); border-radius: 4px;
        pointer-events: none;

        &:after {
          content: '';
          display: block; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 100%);
          border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: solid 4px #995299;
        }
      }
		}
	}

	& > p {
		color: #484848; font-size: 12px; font-family: $m-sb; text-transform: 18px; text-transform: uppercase;
		display: flex; justify-content: space-between; margin-bottom: 5px;
	}

	form {
		position: relative; margin-bottom: 15px;

		input {
			width: 100%; height: 40px;
			border: solid 1px #e2e2e2; border-radius: 5px;
		}

		button {
			height: 40px; width: 40px; position: absolute; right: 0; top: 0;
			background: transparent;

			&:before {
				content: '';
				display: block; width: 12px; height: 12px; position: absolute; left: 12px; top: 12px;
				border: solid 2px #c2c2c2; border-radius: 50%;
			}

			&:after {
				content: '';
				display: block; width: 6px; height: 2px; position: absolute; right: 14px; bottom: 15px; transform: rotate(45deg);
				background: #c2c2c2; border-radius: 10px;
			}
		}
	}
}

.checkbox {
	label {
		color: #484848; font-size: 14px; font-family: $os-r; line-height: 18px;
		padding-left: 25px; position: relative; display: flex; justify-content: space-between; margin-bottom: 8px;
		cursor: pointer;

		&:last-child {
			margin-bottom: 0;
		}

		input {
			display: none;
		}

		span {
			margin-left: 10px;
		}

		&:before {
			content: '';
			display: block; width: 14px; height: 14px; position: absolute; left: 0; top: 2px;
			background: #f7f7f7; border: solid 1px #b1b1b1;
		}

    &.disabled {
      text-decoration: line-through;
      pointer-events: none;

      &:before {
        opacity: 0.4;
      }
    }

    &.checked {
      &:before {
        background: #f7f7f7 url('/assets/img/checked.png') center center no-repeat;
      }
    }
	}
}
