<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>Займы на карту онлайн без проверок. Рейтинг рунета ТОП 2019</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
		<% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
			<meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
		<% } %>
		<% for (var chunk of webpack.chunks) { %>
		 <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
			<% for (var file of chunk.files) { %>
				<% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
					<link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
				<% } else if (file.match(/manifest\.json$/)) { %>
					<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
				<% } %>
			<% } %>
		<% } %>
    <meta name="Description" content="Каталог микрозаймов ТОП 2019 – без проверки кредитной истории с быстрым решением по всей России. На карту и наличными.">
    <meta name="Rating" content="general">
    <meta name="Author" content="Микрозаймы онлайн">
    <meta name="Robots" content="index,follow">

    <!-- Socials -->
    <meta property="og:url" content="url"/>
    <meta property="og:type" content="product"/>
    <meta property="og:title" content="Займы на карту онлайн без проверок. Рейтинг рунета ТОП 2019"/>
    <meta property="og:description" content="Мгновенные микрозаймы – список автоматических займов на карту, наличными, Киви-кошелек или Яндекс.Деньги даже безработным."/>
    <meta property="og:image" content="/assets/img/social_img.jpg"/>
    <link rel="image_src" href="/assets/img/social_img.jpg">
	</head>
	<body>
		<script>
			window.THEME_NAME = (function theme() {
				var themes = [
					'default', 'scooter', 'green', 'cherry',
					'lush', 'frost', 'royal', 'sunset'
				]
				var theme = localStorage.getItem('themeName')
				if (!theme) {
					theme = themes[
						Math.floor(Math.random() * themes.length)
					]
					localStorage.setItem('themeName', theme)
				}
				return theme
			})()
			document.documentElement.setAttribute('class', '')
			document.documentElement.classList.add(window.THEME_NAME)
		</script>
		<%= htmlWebpackPlugin.options.ssr({
			url: '/'
		}) %>
		<script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
		<script>window.fetch||document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')</script>
	</body>
</html>
